In [2]:
import pandas as pd

In [147]:
test_1= pd.read_csv('Казань xgboost approx подвыборка 1.csv', sep=',', index_col=None)
test_2= pd.read_csv('Казань xgboost approx подвыборка 2.csv', sep=',', index_col=None)
test_3= pd.read_csv('Казань xgboost approx подвыборка 3.csv', sep=',', index_col=None)
test_4= pd.read_csv('Казань xgboost approx подвыборка 4.csv', sep=',', index_col=None)
test_5= pd.read_csv('Казань xgboost approx подвыборка 5.csv', sep=',', index_col=None)
test_1.columns=['id','подвыборка_1']
test_2.columns=['id','подвыборка_2']
test_3.columns=['id','подвыборка_3']
test_4.columns=['id','подвыборка_4']
test_5.columns=['id','подвыборка_5']

In [148]:
test_all=test_1.merge(test_2,how='left',on='id')
test_all=test_all.merge(test_3,how='left',on='id')
test_all=test_all.merge(test_4,how='left',on='id')
test_all=test_all.merge(test_5,how='left',on='id')
test_all

,id,подвыборка_1,подвыборка_2,подвыборка_3,подвыборка_4,подвыборка_5
0,611,3,3,3,3,3
1,6417,2,2,2,2,2
2,3352,3,3,3,3,3
3,4224,1,1,1,1,1
4,3102,6,6,6,6,6
...,...,...,...,...,...,...
2066,1743,5,5,5,5,5
2067,3968,3,3,3,3,3
2068,3809,2,2,2,2,2
2069,5485,6,6,6,6,6
2070,5899,0,0,0,0,0

In [13]:
test_all.loc[(test_all['подвыборка_1']!=test_all['подвыборка_2'])|(test_all['подвыборка_2']!=test_all['подвыборка_3'])|(test_all['подвыборка_3']!=test_all['подвыборка_4'])|(test_all['подвыборка_4']!=test_all['подвыборка_5'])]

,id,подвыборка_1,подвыборка_2,подвыборка_3,подвыборка_4,подвыборка_5
75,3221,2,4,2,4,2
81,1817,0,0,6,0,6
99,6848,0,0,0,4,0
267,4915,0,0,0,4,0
328,5101,2,2,2,6,6
348,5613,0,0,2,0,0
381,1617,6,6,3,3,3
382,17,6,6,6,6,0
403,6129,0,4,0,4,0
437,6551,6,6,6,0,6
447,2118,0,0,0,0,6
483,5737,4,4,6,4,4
521,6651,6,6,6,0,4
553,5701,6,6,0,6,6
589,1595,4,4,6,4,6
594,4086,4,4,0,2,4
633,5814,6,4,4,4,4
759,1582,0,0,6,6,0
946,3176,2,0,2,0,0
947,2618,0,2,2,4,2
1063,216,4,4,2,2,4
1332,1657,6,6,6,4,6
1358,1511,6,6,6,4,6
1374,3043,6,2,2,2,2
1389,2303,0,0,0,6,0
1394,4464,4,4,0,0,0
1454,3734,2,2,2,2,6
1648,3927,6,6,0,6,0
1776,1033,2,6,6,6,2
1777,1383,0,6,6,6,6
1820,3732,0,4,0,0,0
1837,6856,6,0,6,6,0
1847,3235,6,1,6,1,1
1893,952,4,4,6,4,6
1938,1756,6,6,3,3,3
2006,6094,1,0,0,1,1
2027,1260,0,0,6,0,0

In [14]:
test_all['crop']=test_all.mode(axis=1)[0].astype(int)

In [15]:
test_all

,id,подвыборка_1,подвыборка_2,подвыборка_3,подвыборка_4,подвыборка_5,crop
0,611,3,3,3,3,3,3
1,6417,2,2,2,2,2,2
2,3352,3,3,3,3,3,3
3,4224,1,1,1,1,1,1
4,3102,6,6,6,6,6,6
...,...,...,...,...,...,...,...
2066,1743,5,5,5,5,5,5
2067,3968,3,3,3,3,3,3
2068,3809,2,2,2,2,2,2
2069,5485,6,6,6,6,6,6
2070,5899,0,0,0,0,0,0

In [16]:
test_all['crop'].value_counts()

5    326
3    311
6    308
2    298
1    288
0    273
4    267
Name: crop, dtype: int64

In [17]:
#test_all.loc[(test_all['подвыборка_1']!=test_all['подвыборка_2'])|(test_all['подвыборка_2']!=test_all['подвыборка_3'])|(test_all['подвыборка_3']!=test_all['подвыборка_4'])|(test_all['подвыборка_4']!=test_all['подвыборка_5']),'crop']=5

In [18]:
test_all=test_all[['id','crop']]

In [19]:
test_all.to_csv('Казань xgboost_approx мода проверка.csv', sep=',', index=None)

In [83]:
test_all['crop'].value_counts()

5    326
6    313
3    309
2    296
1    288
0    274
4    265
Name: crop, dtype: int64

In [191]:
best= pd.read_csv('Казань xgboost 5 и 3 gpu_hist 972953.csv', sep=',', index_col=None)
cand= pd.read_csv('Казань мода проверка.csv', sep=',', index_col=None)
cand1= pd.read_csv('Казань xgboost без 5 972440.csv', sep=',', index_col=None)
cand.columns=['id','crop_1']
cand1.columns=['id','crop_2']

In [192]:
best=best.merge(cand,how='left',on='id')
best=best.merge(cand1,how='left',on='id')

In [193]:
best.loc[(best['crop']!=best['crop_1'])|(best['crop_1']!=best['crop_2'])]

        id  crop  crop_1  crop_2
61    1297     6       4       6
99    6848     0       6       0
267   4915     4       0       4
328   5101     2       6       2
381   1617     6       6       3
382     17     6       6       0
437   6551     6       6       0
447   2118     6       0       0
521   6651     4       6       4
594   4086     4       2       4
633   5814     4       6       4
715   3123     2       4       4
946   3176     0       2       0
1063   216     2       4       2
1107  6602     6       0       6
1332  1657     6       4       4
1339  6653     1       1       2
1394  4464     4       0       0
1406  2183     4       0       4
1454  3734     6       2       6
1648  3927     6       0       6
1731   877     2       0       2
1837  6856     0       6       0
1847  3235     1       6       1
1938  1756     6       6       3
1952  1496     0       6       0
2006  6094     0       1       0

In [194]:
best['crop'].value_counts()

5    326
6    312
3    309
2    297
1    288
0    272
4    267
Name: crop, dtype: int64

In [195]:
#best['crop']=best.mode(axis=1)[0].astype(int)
best.loc[(best['crop_1']==6)|(best['crop_2']==6),'crop']=6
best.loc[(best['crop_1']==4)|(best['crop_2']==4),'crop']=4
best.loc[(best['crop_2']==2),'crop']=2
best.loc[(best['id']==877),'crop']=6

In [196]:
best.loc[(best['crop']!=best['crop_1'])|(best['crop_1']!=best['crop_2'])]

        id  crop  crop_1  crop_2
61    1297     4       4       6
99    6848     6       6       0
267   4915     4       0       4
328   5101     2       6       2
381   1617     6       6       3
382     17     6       6       0
437   6551     6       6       0
447   2118     6       0       0
521   6651     4       6       4
594   4086     4       2       4
633   5814     4       6       4
946   3176     0       2       0
1063   216     2       4       2
1107  6602     6       0       6
1339  6653     2       1       2
1394  4464     4       0       0
1406  2183     4       0       4
1454  3734     6       2       6
1648  3927     6       0       6
1731   877     6       0       2
1837  6856     6       6       0
1847  3235     6       6       1
1938  1756     6       6       3
1952  1496     6       6       0
2006  6094     0       1       0

In [197]:
best=best[['id','crop']]

In [198]:
best['crop'].value_counts()

5    326
6    315
3    309
2    296
1    286
4    270
0    269
Name: crop, dtype: int64

In [199]:
best.to_csv('Казань xgboost_catboost замена на лучший сперва 6 затем 4 затем 2 от 2й и 877 на 6.csv', sep=',', index=None)

In [226]:
interpol= pd.read_csv('test_dataset_test 1.csv', sep=',', index_col=None)

In [227]:
interpol = interpol.reindex(sorted(interpol.columns), axis=1)
interpol

,.geo,area,id,nd_mean_2021-04-15,nd_mean_2021-04-16,nd_mean_2021-04-18,nd_mean_2021-04-19,nd_mean_2021-04-20,nd_mean_2021-04-22,nd_mean_2021-04-23,...,nd_mean_2021-07-29,nd_mean_2021-07-31,nd_mean_2021-08-01,nd_mean_2021-08-07,nd_mean_2021-08-10,nd_mean_2021-08-11,nd_mean_2021-08-12,nd_mean_2021-08-13,nd_mean_2021-08-23,nd_mean_2021-08-27
0,"{""type"":""Polygon"",""coordinates"":[[[35.96545926...",26,611,0.083038,0.196691,0.244827,NaN,0.241219,0.259303,0.064947,...,0.719171,NaN,0.593911,NaN,NaN,0.192016,0.164840,0.714292,0.065030,0.084197
1,"{""type"":""Polygon"",""coordinates"":[[[39.50520518...",98,6417,0.122470,0.091192,0.241003,NaN,0.181600,0.125823,0.108175,...,0.317670,0.329803,NaN,0.007428,NaN,0.106484,0.167479,NaN,NaN,0.108945
2,"{""type"":""Polygon"",""coordinates"":[[[39.30105409...",21,3352,0.259347,NaN,0.297489,0.033368,NaN,0.285057,0.374026,...,0.534127,NaN,0.549128,NaN,0.026141,0.469352,0.477381,0.037838,NaN,0.158279
3,"{""type"":""Polygon"",""coordinates"":[[[33.08144648...",18,4224,0.166209,0.111243,NaN,0.201012,0.083885,NaN,0.015033,...,0.765292,0.597874,0.681923,0.035716,0.693845,0.614671,0.634286,0.108990,0.532947,0.237742
4,"{""type"":""Polygon"",""coordinates"":[[[45.10231339...",53,3102,0.010862,NaN,0.067479,0.234954,NaN,NaN,NaN,...,NaN,0.134136,0.780305,0.030224,0.046893,NaN,0.779191,0.048622,0.650742,0.121296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2066,"{""type"":""Polygon"",""coordinates"":[[[38.68082436...",18,1743,0.225092,NaN,0.188515,0.017866,0.099791,0.212560,NaN,...,0.106541,0.098764,NaN,0.030232,0.094177,0.193355,0.023358,0.077803,0.367456,0.112885
2067,"{""type"":""Polygon"",""coordinates"":[[[56.32489418...",56,3968,0.288768,0.010670,0.283976,0.105135,0.308051,0.170843,0.010864,...,0.678491,0.014447,0.666201,0.073079,0.060584,0.589452,0.546666,0.572680,0.152172,0.511447
2068,"{""type"":""Polygon"",""coordinates"":[[[37.89523772...",92,3809,NaN,0.131978,NaN,0.058492,NaN,0.607262,0.254509,...,0.467865,0.372719,0.173248,0.316167,0.019092,0.075738,0.183048,0.008488,0.179656,0.076760
2069,"{""type"":""Polygon"",""coordinates"":[[[38.98573772...",53,5485,NaN,0.044726,0.034510,0.093328,0.126618,0.188758,0.097723,...,0.772975,0.761113,0.150573,0.678626,NaN,0.052762,0.664203,0.040434,0.046549,0.037837
2070,"{""type"":""Polygon"",""coordinates"":[[[37.66829628...",33,5899,0.139655,NaN,0.047048,0.003819,0.262780,0.149500,0.099065,...,NaN,0.490585,0.401963,0.414312,0.107010,0.004987,0.159987,0.051349,0.101806,NaN

In [228]:
interpol_1=interpol.drop(['.geo','area','id'], axis = 1)
interpol_2=interpol[['.geo','area','id']]
interpol_1=interpol_1.interpolate(axis=1)

In [229]:
inter_train=interpol_2.join(interpol_1)

In [230]:
inter_train.to_csv('inter_test.csv', sep=',', index=None)

In [231]:
inter_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2071 entries, 0 to 2070
Data columns (total 73 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   .geo                2071 non-null   object
 1   area                2071 non-null   int64
 2   id                  2071 non-null   int64
 3   nd_mean_2021-04-15  1774 non-null   float64
 4   nd_mean_2021-04-16  2031 non-null   float64
 5   nd_mean_2021-04-18  2059 non-null   float64
 6   nd_mean_2021-04-19  2070 non-null   float64
 7   nd_mean_2021-04-20  2071 non-null   float64
 8   nd_mean_2021-04-22  2071 non-null   float64
 9   nd_mean_2021-04-23  2071 non-null   float64
 10  nd_mean_2021-04-25  2071 non-null   float64
 11  nd_mean_2021-04-26  2071 non-null   float64
 12  nd_mean_2021-04-27  2071 non-null   float64
 13  nd_mean_2021-04-28  2071 non-null   float64
 14  nd_mean_2021-04-29  2071 non-null   float64
 15  nd_mean_2021-04-30  2071 non-null   float64
 16  nd_mean_2021-05-01  2071 non-null   float64
 17  nd_mean_2021-05-02  2071 non-null   float64
 18  nd_mean_2021-05-03  2071 non-null   float64
 19  nd_mean_2021-05-04  2071 non-null   float64
 20  nd_mean_2021-05-07  2071 non-null   float64
 21  nd_mean_2021-05-08  2071 non-null   float64
 22  nd_mean_2021-05-09  2071 non-null   float64
 23  nd_mean_2021-05-10  2071 non-null   float64
 24  nd_mean_2021-05-15  2071 non-null   float64
 25  nd_mean_2021-05-16  2071 non-null   float64
 26  nd_mean_2021-05-17  2071 non-null   float64
 27  nd_mean_2021-05-19  2071 non-null   float64
 28  nd_mean_2021-05-20  2071 non-null   float64
 29  nd_mean_2021-05-21  2071 non-null   float64
 30  nd_mean_2021-05-24  2071 non-null   float64
 31  nd_mean_2021-05-26  2071 non-null   float64
 32  nd_mean_2021-05-27  2071 non-null   float64
 33  nd_mean_2021-05-29  2071 non-null   float64
 34  nd_mean_2021-06-02  2071 non-null   float64
 35  nd_mean_2021-06-03  2071 non-null   float64
 36  nd_mean_2021-06-04  2071 non-null   float64
 37  nd_mean_2021-06-05  2071 non-null   float64
 38  nd_mean_2021-06-06  2071 non-null   float64
 39  nd_mean_2021-06-07  2071 non-null   float64
 40  nd_mean_2021-06-09  2071 non-null   float64
 41  nd_mean_2021-06-10  2071 non-null   float64
 42  nd_mean_2021-06-12  2071 non-null   float64
 43  nd_mean_2021-06-13  2071 non-null   float64
 44  nd_mean_2021-06-16  2071 non-null   float64
 45  nd_mean_2021-06-18  2071 non-null   float64
 46  nd_mean_2021-06-19  2071 non-null   float64
 47  nd_mean_2021-06-20  2071 non-null   float64
 48  nd_mean_2021-06-22  2071 non-null   float64
 49  nd_mean_2021-06-25  2071 non-null   float64
 50  nd_mean_2021-06-27  2071 non-null   float64
 51  nd_mean_2021-06-28  2071 non-null   float64
 52  nd_mean_2021-07-04  2071 non-null   float64
 53  nd_mean_2021-07-05  2071 non-null   float64
 54  nd_mean_2021-07-07  2071 non-null   float64
 55  nd_mean_2021-07-08  2071 non-null   float64
 56  nd_mean_2021-07-09  2071 non-null   float64
 57  nd_mean_2021-07-13  2071 non-null   float64
 58  nd_mean_2021-07-15  2071 non-null   float64
 59  nd_mean_2021-07-17  2071 non-null   float64
 60  nd_mean_2021-07-20  2071 non-null   float64
 61  nd_mean_2021-07-26  2071 non-null   float64
 62  nd_mean_2021-07-27  2071 non-null   float64
 63  nd_mean_2021-07-29  2071 non-null   float64
 64  nd_mean_2021-07-31  2071 non-null   float64
 65  nd_mean_2021-08-01  2071 non-null   float64
 66  nd_mean_2021-08-07  2071 non-null   float64
 67  nd_mean_2021-08-10  2071 non-null   float64
 68  nd_mean_2021-08-11  2071 non-null   float64
 69  nd_mean_2021-08-12  2071 non-null   float64
 70  nd_mean_2021-08-13  2071 non-null   float64
 71  nd_mean_2021-08-23  2071 non-null   float64
 72  nd_mean_2021-08-27  2071 non-null   float64
dtypes: float64(70), int64(2), object(1)
memory usage: 1.2+ MB